<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather forecasting</title>
    <link rel="stylesheet" href={{url_for('static',filename='style1.css')}}>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">
  </head>
  <body style="background-color:lightblue;">

    <section>
      <input type="checkbox" id="check">
      <header>
        </div>
        <h2><a href="#" class="logo">Weather Forecasting </a></h2>
        <div class="navigation">
          
          <a href="#about">About Project</a>
          <a href="#dashboard">Dashboard</a>
          <a href="#info">Guides</a>
          <a href="/predict">Predictor</a>
        </div>
        <label for="check">
        <i class="fas fa-bars menu-btn"></i>
        <i class="fas fa-times close-btn"></i>
        </label>
      </header>
    </section>

    <section id="about">
      <h2>About our Project </h2>
      <p class="about-content";>
        Weather prediction is the task of prediction of the atmosphere at a future time and a given area. In early days, this has been done through physical equations in which the atmosphere is consider as fluid. The current state of the environment is inspected, and the future state is predicted by solving those equations numerically, but we can not determine a very accurate weather for more than 10 days and this can be improved with the help of science and technology. <br>

There are numerous kinds of machine learning calculations, which are Linear Regression, Logistic Regression, Random Forest Regression, Artificial Neural Network and Recurrent Neural Network.These models are prepared dependent on the authentic information given of any area. Contribution to these models are given, for example, in the event that anticipating temperature, least temperature, mean air weight, greatest temperature, mean dampness etc. 
      </p>
    </section>

    <section id="dashboard">
      <h2>Dashboard</h2>
      <p>Our project aims to predict the Weather and Atmosphere conditions using the previous dataset of the weather forecasting with a focus on improving the accuracy of prediction.This will increase the accuracy of the weather prediction and we will get accurate results than the traditional methods. Our dataset consists of max and min. temperature of everyday from the specific location.</p>

      <!img class="dashboard-image" src="../static/dashboard.png" alt="1">
      <div>
        <img src="../static/10.png" alt="1">
        <img src="../static/20.png" alt="3">
        <img src="../static/30.png" alt="4">
        <img src="../static/50.png" alt="5">
        <img src="../static/40.png" alt="6">
        <img src="../static/7.png" alt="7">
        <img src="../static/70.png" alt="8">
        <img src="../static/80.png" alt="9">
      </div>
    </section>

     <h2>ABout Guides</h2>
    <section id="info">

<div>
        <img src="../static/balaji.jpg">
      </div>
      <div>
       
        <p class="about-content">
          <ul>
 <b>Mr. BALAJI N</b>
<br> Designation Assistant Professor Gd-II<br>
Email balajin@nitte.edu.in<br>
Joining date 2019-07-25<br>
</ul>
<ul>
<b> Achievements </b>
<li> Received seed money grant (3,06333/- INR) from AICTE under AQIS scheme to conduct AICTE STTP on Focuses on Learning the Scope of Security Aspects and Applications on 12 October, 2020.</li>
<li> Received seed money grant (93,000/- INR) from AICTE under ATAL Scheme to conduct AICTE ATAL FDP on Blockchain Technologies on 4 October, 2020. </li>
<li> Faculty coordinator for the Four days Online FDP on "Networks and Security" during May 26 to 29, 2020 at NMAM Institute of Technology, Nitte, Karkala, Udupi. </li>
</ul>
        </p>

      </div>
</section>

<section id="info">
      <div>
        <img src="../static/devidas.jpg">
      </div>
      <div>
       
        <p class="about-content">
          <b> Mr. DEVIDAS </b>
<br>Designation Assistant Professor Gd-III <br>
Email devidasbhat@nitte.edu.in<br>
Joining date 2007-01-09<br>

<ul>
<b> Achievements </b>
<li>Recognized as BRONZE Level partner faculty under Inspire The Campus Connect Faculty Partnership Model during Inspire 2017. </li>
<li>Recieved KSCST project Funding in 2011,2015 </li>
<li> Won Best Project awards in Expro project Exhibition in 2012,2015,2016 </li>
</ul>
        </p>
      </div>
    </section>

  </body>
</html>
